html,
body {
	height: 100%;
  background-color:#5788D9;

}
body {
	padding-top: 100px;
}
.container{
	margin-left: 400px;
	font-size: 25px;
}
.showButton{
	padding: .5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: .3rem;
}





